[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"

[packages]
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
gunicorn = "*"
mysqlclient = "*"
Django = "*"
SQLAlchemy = "*"

[requires]
python_version = "3.8"
